@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
*{

  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: #333;
  color:#f9f9f9;

}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  
}
h1{
  text-align: center;
  font-family: 'Sevillana', cursive;
  
}
.search input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  margin-bottom: 20px;
  border:1px solid none;
  border-radius: 20px;
}

.movie-details {
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px;
}

.movie-details h2 {
  margin-bottom: 10px;
  color: #f9f9f9;
}

.movie-details p {
  margin-bottom: 8px;
  color: #f9f9f9;
}

.movie-poster {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
img{
  padding: 20px;
}

.app{
  overflow-x: hidden;
  width:100%;
}
